<h1>Creation</h1>
<style>
    footer{
                background-color: rgb(133, 132, 132);
                text-align: center;
                position: relative;
                margin-left: -10;
                margin-right: -10;
            }
            .beian{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
</style>
<footer>
    <a href="https://beian.miit.gov.cn" target="_blank" class="beian">湘ICP备2023027594号-1</a>
</footer>