<!DOCTYPE html>
<html lang="en">
    <style>
        h1{
            font-size: 20px;
            position: relative;
            left: 10px;
            color:aliceblue
        }
        body{
            background: url('dashboard.webp')no-repeat;
            background-position: auto;
            background-size: cover;
            background-attachment:fixed;
            margin-right:auto;
            margin-left:auto;
            margin-top: 50px;
            padding: auto;
            width: 100%;
            font-family: Arial, sans-serif;
            height: 170%;
            position: fixed;
            top: 80px;
        }
        #topBar{
            padding: 5px 0; /* Adjust the padding */
            width: 100%;
            background-color: #282828;
            color: rgb(180, 171, 171);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }
        #fakeBody{
            position: relative;
            left: 10px;
            width: 100%;
        }
        #title{
            position: relative;
            left: 20px;
        }
        a{
            color:aliceblue
        }

    </style>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="topBar">
            <h1 id="title">Dashboard</h1>
        </div>
        <h1>Hello <%= username%></h1>
        <div id="fakeBody">
        <div id="general">
            <a href="general">General</a>
        </div>
        <br>
        <div id="academics">
            <a href="academics">Academics (currently unavailable)</a>
        </div>
        </div>
    </body>
</html>