<html lang="en">
    <head>
        <title>Biph Flora</title>
        <style>
            @import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            body, h1, p {
                font-family: 'poppins',sans-serif;
                color: #ffffff;
            }
            body {
            background: url('homescreen.jpg')no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            }
            #topbar{
                display: inline-block;
                display: flex;
            }
            .links{
                display: flex;
                position: fixed;
                top: 35px;
                right: 40px;
                padding: 8px;
                background-color: #e2e8d1;
                border: 2px solid transparent;
                border-radius: 10px;
            }
            h1{
                text-align: center;
            }

            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 10px;
                margin: 0;
            }

            .featuredColumn {
                border: solid black 2px;
                height: 40%;
                position: relative;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
            }

            .postlayout{
                display: flex;
                justify-content: center;
                align-items: center
            }
            img{
                max-width: 300px; 
                height: auto;
            }
            .posts{
                flex: 1;
            }
            .title{
                position: relative;
                left: 40px;
            }
            .linkBarLink{
                color: #7a9a6d;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header>
            <div id="topBar">
                <h1 class="title">BIPH FLORA</h1>
                <div class="links">
                            <a class="linkBarLink" href="home">Home</a>
                            <a class="linkBarLink" href="databse">Database</a>
                            <a class="linkBarLink" href="creation">Creation</a>
                            <a class="linkBarLink" href="activities">Activities</a>
                            <a class="linkBarLink" href="journey">Journey</a>
                            <a class="linkBarLink" href="aboutUs">About us</a>
                            <a class="linkBarLink" href="registration">Registration</a>
                </div>
            </div>
        </header>
        <br>
        <nav>
            <div class="featuredColumn">
                <button id="prevBtn">上一个</button>
                <div class="posts" id="posta"></div>
                <button id="nextBtn">下一个</button>
                <script>
                    function updatePost() {
                        fetch('/homescreensetup')
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    document.getElementById("posta").innerHTML = data.html;
                                }
                            });
                    }
                
                    document.getElementById("prevBtn").addEventListener('click', () => {
                        fetch('/updateIndexprev')
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    document.getElementById("posta").innerHTML = data.html;
                                }
                            });
                    });
                
                    document.getElementById("nextBtn").addEventListener('click', () => {
                        fetch('/updateIndexnext')
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    document.getElementById("posta").innerHTML = data.html;
                                }
                            });
                    });
                
                    updatePost();
                </script>
        </div>
        </nav>
        <div id="bottomHalf">
            <h1>Database for campus species 校内植物检索数据库</h1>
            <div id="searchBar">
                <form method="POST" action="/searchResults">
                    <input type="text" name="topic" id="topic">
                    <button type="submit">Search</button>
                    <div id="resultsContainer"></div>
                </form>
            </div>
            <h3># of Plant species inside of our campus</h3>
            <h3></h3>
            <h3># of Plant species recorded inside the database</h3>
            <a href="showFullList">Show full list</a>
        </div>
    </body>
</html>