<html lang="en">
    <title>Biph Flora</title>
    <head>
    <style>
    #linkBar {
        border-collapse: collapse;
        border: 2px solid;
    }

    a {
        display: inline-block; 
        border: 1px solid black;
        padding: 10px 20px; 
        margin: 0;
    }
</style>
    </head>
<body>
    <div id="topBar">
      <h1>BIPH FLORA</h1>
      <table id="linkBar">
        <a class ="linkBarLink" href="home">Home</a>
        <a class ="linkBarLink" href="databse">Database</a>
        <a class ="linkBarLink" href="creation">Creation</a>
        <a class ="linkBarLink" href="activities">Activities</a>
        <a class ="linkBarLink" href="journey">Journey</a>
        <a class ="linkBarLink" href="aboutUs">About us</a>
        <a class ="linkBarLink" href="registration">Registration</a>
      </table>
    </div>
    <div id="featuredColumn">
        <div id="featuredColumnTitle"></div>
        <div id="featuredColumnContent"></div>
        <div id="featuredColumnCaptions"></div>
    </div>
    <div id="bottomHalf">
        <h1>Database for campus species 校内植物检索数据库</h1>
        <div id="searchBar"></div>
        <h3># of Plant species inside of our campus</h3>
        <h3></h3>
        <h3># of Plant species recorded inside the database</h3>
        <a href="showFullList">Show full list</a>
    </div>
</body>
</html>