<html lang="en">
    <head>
        <title>Biph Flora</title>
        <style>
            @import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            body, h1, p {
                font-family: 'poppins',sans-serif;
                color: #ffffff;
                overflow-x: hidden;
                margin: 0;
                padding: 0;
            }
            #topbar{
                display: inline-block;
                display: flex;
            }
            .links{
                display: flex;
                position: absolute;
                top: 35px;
                right: 40px;
                padding: 8px;
                background-color: #e2e8d1;
                border: 2px solid transparent;
                border-radius: 10px;
            }
            h1{
                text-align: center;
            }

            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 10px;
                margin: 0;
            }

            .featuredColumn {
                border: solid transparent 2px;
                height: 60%;
                position: relative;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                background-color: #e0e9d4;
                padding-top: 50px;
            }

            .postlayout{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img{
                max-width: 300px;
                height: auto;
                padding: 40px;
            }

            .posts{
                flex: 1;
            }
            .title{
                position: relative;
                left: 40px;
                top: 30px;
                padding-right: 60px ;
                border-right: 5px solid #ffffff;
                font-size: 44px;
                font-weight: 550;
            }
            .linkBarLink{
                color: #7a9a6d;
                font-size: 20px;
                text-decoration: none;
            }
            .hline{
                height: 5px;
                position: relative;
                top: 40px;
                background-color: white;
            }
            footer{
                background-color: rgb(133, 132, 132);
                text-align: center;
                position: relative;
                bottom: -10;
                margin-left: -10;
                margin-right: -10;
            }
            .beian{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            /* Style the buttons */
            button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            }

            /* Style the ionicons */
            .postBtn {
            font-size: 4.5rem;
            color: #739566;
            }
            #searchBar {
            background-color: #fffffa;
            width: 70%;
            margin: 0 auto;
            border-radius: 50px;
            overflow: hidden;
            }

            .searchContainer {
            display: flex;
            align-items: center;
            padding: 10px;
            }

            #topic {
            position: relative;
            flex: 1;
            border: none;
            font-size: 26px;
            outline: none;
            background-color: transparent;
            color: black;
            top:8px;
            left: 25px;
            }

            .searchBtn {
            position: relative;
            background-color: transparent;
            border: none;
            font-size: 34px;
            cursor: pointer;
            outline: none;
            top: 7px;
            right: 45px;
            }
            .searchtitle{
                position: relative;
                left: 20px;
                text-align: left;
                font-weight: 530;
            }
            .featuredTopBar{
                background-color: #506d4e;
                position: relative;
                width: 95%;
                border: solid transparent 2px;
                height: 80px;
                position: relative;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
            }
            h4{
                font-size: 34px;
                position: relative;
                font-weight: 415;
                bottom: 33px;
                left: 55px;
            }
            .part1 {
                background: url('homescreen.jpg') no-repeat;
                border: none;
                background-position: center center;
                position: relative;
                background-size: cover;
                background-attachment: scroll;
                margin: 0;
                padding-bottom: 120px;
            }

            .part2 {
                background: url('homescreen1.jpg') no-repeat;
                border: none;
                position: relative;
                background-position: center center;
                background-size: cover;
                background-attachment: scroll;
                margin: 0;
                padding: 0;
            }

            nav{
                position: relative;
                top: 50px;
            }
            .postcontents {
                position: absolute;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                left: 0;
                right: 0;
                bottom: 0;
                width: 96.05%;
                text-align: center;
                height: 15%;
                border: 2px solid transparent;
                padding: 30px;
                background-color: #9db894;
                font-size: 22px;
                font-weight: 500;
                color: #33472e;
            }
            .post.featuredColumnTitle{
                position: absolute;
                left: 270px;
            }
            .featuredColumnContent{
                position: absolute;
                right: 360px;
            }
        </style>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="part1">
            <header>
                <div id="topBar">
                    <h1 class="title">BIPH FLORA</h1>
                    <div class="links">
                        <a class="linkBarLink" href="homescreen">Home</a>
                        <a class="linkBarLink" href="searchResults">Database</a>
                        <a class="linkBarLink" href="creation">Creation</a>
                        <a class="linkBarLink" href="activities">Activities</a>
                        <a class="linkBarLink" href="journey">Journey</a>
                        <a class="linkBarLink" href="aboutUs">About us</a>
                        <a class="linkBarLink" href="login">Registration</a>
                    </div>
                </div>
            </header>
            <div class="hline">
                <hr>
            </div>
            <br>
            <nav>
                <div class="featuredTopBar">
                    <h4>Plant in Bloom</h4>
                </div>
                <div class="featuredColumn">
                    <button id="prevBtn">
                        <ion-icon class="postBtn" name="caret-back-sharp"></ion-icon>
                    </button>
                    <div class="posts" id="posta"></div>
                    <button id="nextBtn">
                        <ion-icon class="postBtn" name="caret-forward-sharp"></ion-icon>
                    </button>
                    <script>
                        function updatePost() {
                            fetch('/homescreensetup')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        }
                    
                        document.getElementById("prevBtn").addEventListener('click', () => {
                            fetch('/updateIndexprev')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        });
                    
                        document.getElementById("nextBtn").addEventListener('click', () => {
                            fetch('/updateIndexnext')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        });

                        updatePost();
                    </script>
                </div>
            </nav>
        </div>
        <div class="part2">
            <div id="bottomHalf">
                <h1 class="searchtitle">Database for campus species 校内植物检索数据库</h1>
                <div id="searchBar">
                    <form method="POST" action="/searchResults">
                        <div class="searchContainer">
                            <input type="text" name="topic" id="topic" placeholder="Search...">
                            <button class="searchBtn" type="submit"><ion-icon name="search-outline"></ion-icon></button>
                        </div>
                        <div id="resultsContainer"></div>
                    </form>
                </div>
                <h3># of Plant species inside of our campus</h3>
                <h3></h3>
                <h3># of Plant species recorded inside the database</h3>
                <a href="showFullList">Show full list</a>
            </div>
        </div>
        <footer>
            <a href="https://beian.miit.gov.cn" target="_blank" class="beian">湘ICP备2023027594号-1</a>
        </footer>
    </body>
</html>