<html lang="en">
    <head>
        <title>BIPH Flora</title>
        <style>
            @import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            body, h1, p {
                font-family: 'poppins',sans-serif;
                color: #ffffff;
                overflow-x: hidden;
                margin: 0;
                padding: 0;
            }
            #topbar{
                display: inline-block;
                display: flex;
            }
            .links{
                display: flex;
                position: absolute;
                top: 35px;
                right: 40px;
                padding: 8px;
                background-color: #e2e8d1;
                border: 2px solid transparent;
                border-radius: 10px;
            }
            h1{
                text-align: center;
            }

            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 10px;
                margin: 0;
            }

            .featuredColumn {
                border: solid transparent 1px;
                height: 60%;
                position: relative;
                width: 96rem;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                background-color: #e0e9d4;
                padding-top: 50px;
            }

            .postlayout{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img{
                max-width: 350px;
                height: auto;
                padding: 40px;
            }

            .posts{
                flex: 1;
            }

            .title{
                position: relative;
                left: 40px;
                top: 30px;
                padding-right: 60px;
                border-right: 5px solid #ffffff;
                font-size: 44px;
                font-weight: 550;
            }
            .linkBarLink{
                color: #7a9a6d;
                font-size: 20px;
                text-decoration: none;
            }
            .linkBarLink1{
                position: relative;
                color: #79ca59;
                font-size: 20px;
                top: 0.35rem;
                bottom: auto;
            }
            .hline{
                height: 0.3rem;
                position: relative;
                top: 40px;
                background-color: white;
            }
            footer{
                background-color: rgb(133, 132, 132);
                text-align: center;
                position: relative;
                margin-left: -10;
                margin-right: -10;
            }
            .beian{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            /* Style the buttons */
            button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            }

            /* Style the ionicons */
            .postBtn {
            font-size: 4.5rem;
            color: #739566;
            }
            #searchBar {
            background-color: #fffffa;
            width: 70%;
            margin: 0 auto;
            border-radius: 50px;
            overflow: hidden;
            }

            .searchContainer {
            display: flex;
            align-items: center;
            padding: 10px;
            }

            #topic {
            position: relative;
            flex: 1;
            border: none;
            font-size: 26px;
            outline: none;
            background-color: transparent;
            color: black;
            top:8px;
            left: 25px;
            }

            .searchBtn {
            position: relative;
            background-color: transparent;
            border: none;
            font-size: 34px;
            cursor: pointer;
            outline: none;
            top: 7px;
            right: 45px;
            }
            .searchtitle{
                position: relative;
                left: 20px;
                text-align: left;
                font-weight: 580;
            }
            .featuredTopBar{
                background-color: #506d4e;
                border: solid transparent 1px;
                height: 80px;
                position: relative;
                width: 96rem;
                margin-left: auto;
                margin-right: auto;
            }
            h4{
                font-size: 2.5rem;
                position: relative;
                font-weight: 415;
                bottom: 2.8rem;
                left: 3.5rem;
            }
            .part1 {
                background: url('homescreen.jpg') no-repeat;
                border: none;
                background-position: center center;
                position: relative;
                background-size: cover;
                background-attachment: scroll;
                margin: 0;
                padding-bottom: 120px;
            }

            .part2 {
                background: url('homescreen1.jpg') no-repeat;
                border: none;
                position: relative;
                background-position: center center;
                background-size: cover;
                background-attachment: scroll;
                margin: 0;
                padding: 0;
            }

            .part3 {
                background: url('part3.jpg') no-repeat;
                border: none;
                position: relative;
                background-position: center center;
                background-size: cover;
                background-attachment: scroll;
                margin: 0;
                padding: 0;
            }

            nav{
                position: relative;
                top: 50px;
            }
            .postcontents {
                position: absolute;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                left: -1px;
                right: -1px;
                bottom: -1px;
                max-width: 96rem;
                text-align: center;
                height: 15%;
                border: none;
                padding: 34px;
                background-color: #9db894;
                font-size: 22px;
                font-weight: 500;
                color: #33472e;
            }
            .featuredColumnTitle{
                position: relative;
                left: -15rem;
            }
            .featuredColumnContent{
                position: absolute;
                right: 36rem;
            }
            .showFullList{
                color: white;
                text-decoration: underline;
            }
            #bottomHalf{
                position: relative;
                left: 2.5rem;
                font-size: 1.2rem;
            }
            #activitiesBlock{
                    border: black 1px;
                    background-color: #516d4e;
                    padding: 20px 10px;;
                    width: 96%;
                    left: 1%;
                    position: relative;
                    left: 20px;
                }

                #littleLessGreenBox{
                    border: black 1px;
                    background-color: #e0e8d5;
                    padding: 20px 10px;
                    width: 96%;
                    position: relative;
                    left: 20px;
                    height: 40%;
                }

                #page-container{
                    display: none;
                }
        </style>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <script>
        window.onload = function() {
        var contentContainer = document.getElementById('page-container');
        contentContainer.style.display = 'block';
}
    </script>
    <body>
        <div id="page-container">
        <div class="part1">
            <header>
                <div id="topBar">
                    <h1 class="title">BIPH FLORA</h1>
                    <div class="links">
                        <a class="linkBarLink" href="homescreen">Home</a>
                        <a class="linkBarLink" href="searchResults">Database</a>
                        <a class="linkBarLink" href="creation">Creation</a>
                        <a class="linkBarLink" href="activities">Activities</a>
                        <a class="linkBarLink" href="journey">Journey</a>
                        <a class="linkBarLink" href="aboutUs">About us</a>
                        <% if (username) { %>
                            <% if (admin == true) { %>
                                <a class=linkBarLink href="admin">Admin</a>
                            <% } else { %>
                                <p class="linkBarLink1"> Login Successful</p>
                            <%}%>
                       <% } else { %>
                        <a class="linkBarLink" href="login">Registration</a>
                        <%}%>
                    </div>
                </div>
            </header>
            <div class="hline">
                <hr>
            </div>
            <br>
            <nav>
                <div class="featuredTopBar">
                    <h4>Plant in Bloom</h4>
                </div>
                <div class="featuredColumn">
                    <button id="prevBtn">
                        <ion-icon class="postBtn" name="caret-back-sharp"></ion-icon>
                    </button>
                    <div class="posts" id="posta"></div>
                    <button id="nextBtn">
                        <ion-icon class="postBtn" name="caret-forward-sharp"></ion-icon>
                    </button>
                    <script>
                        function updatePost() {
                            fetch('/homescreensetup')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        }
                    
                        document.getElementById("prevBtn").addEventListener('click', () => {
                            fetch('/updateIndexprev')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        });
                    
                        document.getElementById("nextBtn").addEventListener('click', () => {
                            fetch('/updateIndexnext')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        document.getElementById("posta").innerHTML = data.html;
                                    }
                                });
                        });

                        updatePost();
                    </script>
                </div>
            </nav>
        </div>
        <div class="hline" style="height: 0.5px;">
            <hr>
        </div>
        <div class="part2">
            <br>
            <br>
            <div id="bottomHalf">
                <h1 class="searchtitle">Database for campus species 校内植物检索数据库</h1>
                <br>
                <br>
                <div id="searchBar">
                    <form method="POST" action="/searchResults">
                        <div class="searchContainer">
                            <input type="text" name="topic" id="topic" placeholder="Search...">
                            <button class="searchBtn" type="submit"><ion-icon name="search-outline"></ion-icon></button>
                        </div>
                        <div id="resultsContainer"></div>
                    </form>
                </div>
                <div class="block">
                    <h3># of Plant species inside of our campus</h3>
                    <h3><%=recordedPlantsNum%></h3>
                </div>
                <br>
                <div class="block">
                    <h3># of Plant species recorded inside the database</h3>
                </div>
                <a href="showFullList" class="showFullList">Show full list...</a>
            </div>
        </div>
        <div class="hline" style="height: 0.5px;">
            <hr>
        </div>
        <div class="part3">
            <br>
            <br>
            <section id="bottomSection">
                <div id="activitiesBlock">
                    <h1>Upcoming Activities</h1>
                </div>
                <div id="littleLessGreenBox"></div>
            </section>
        </div>
        <footer>
            <a href="https://beian.miit.gov.cn" target="_blank" class="beian">湘ICP备2023027594号-1</a>
        </footer>
    </div>
    </body>
</html>