<html lang="en">
    <title>Biph Flora</title>
</html>
<body>
    <div id="topBar">
      <h1>BIPH FLORA</h1>
      <div id="linkBar"></div>
    </div>
    <div id="featuredColumn">
        <div id="featuredColumnTitle"></div>
        <div id="featuredColumnContent"></div>
        <div id="featuredColumn">captions</div>
    </div>
    <div id="bottomHalf">
        <h1>Database for campus species 校内植物检索数据库</h1>
        <div id="searchBar"></div>
        <h3># of Plant species inside of our campus</h3>
        <h3></h3>
        <h3># of Plant species recorded inside the database</h3>
    </div>
</body>