<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BIPH Flora</title>
        <link rel="stylesheet" href="/intro.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <script>
        // JavaScript code to trigger the animation after page load
        document.addEventListener("DOMContentLoaded", function(event) {
          var channels = document.getElementsByClassName("channel");
          for (var i = 0; i < channels.length; i++) {
            channels[i].style.animationDelay = (i * 0.2) + "s";
          }
        });
      </script>
    <body>
        <nav class="index">
            <div class="icon-container">
                <ion-icon name="leaf-outline" style="font-size: 5rem;"></ion-icon>
            </div>
            <li class="webicon" href="intro">BIPH Flora</li>
            <ul class="gradient-text">
                <li><a class="channel" href="login">Login</a></li>
                <li><a class="channel" href="register">Register</a></li>
                <li><a class="channel" href="#">About Us</a></li>
                <li><a class="channel" href="#">Activities</a></li>
            </ul>
        </nav>
        <header>
            <h1>Plants in Bloom</h1>
            <hr>
        </header>
        <section>
            <h1>Search 校园植物搜索</h1>
            <hr>
            <br>
            <div class="search-container">
                <div class="search-tab">
                    <input type="text" placeholder="Enter the plant name...">
                    <button type="submit">Go</button>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="block">
                    <div class="icon">
                        <ion-icon name="people-outline" style="font-size: 2rem;"></ion-icon>
                    </div>
                </div>
                <div class="block">
                    <div class="icon">
                        <ion-icon name="megaphone-outline" style="font-size: 2rem;"></ion-icon>
                    </div>
                </div>
                <div class="block">
                    Block 3
                </div>
            </div>
        </section>
        <footer>
            <div class="sm">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <hr>
            <p>&copy; 2023 BIPH Flora. All rights reserved.</p>
        </footer>
    </body>
</html>