<style>
    body {
        background-color: #506d4e;
    }
    form {
        background-color: white;
        padding: 30px 60px;
        width: 250px;
        border-radius: 5px;
        position: absolute;
        left: 38%
    }

    button {
        background-color: #11770a;
        color: white;
        border: white;
        padding: 6px 10px;
    }




</style>
<form action="/login" method="POST" id="loginForm">
    <h2>Login</h2>
    <div class="inputbox">
        <label for="username">Username:</label>
        <input name="username" type="username" required id="username">
    </div>
    <div class="inputbox">
        <label for="password">Password:</label>
        <input name="password" type="password" required id="password">
    </div>
    <br>
    <button>Login</button>
    <div class="register">
        <p>Don't have an account? <a href="register">Register</a></p>
    </form>