<form action="/register" method="POST">
    <h2>Register</h2>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input name="username" type="username" required id="username">
            <label for="username">Username:</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input name="password" type="password" required id="password">
            <label for="password">Password:</label>
        </div>
        <div class="inputbox">
            <input name="adminCode" type="text" id="adminCode">
            <label for="adminCode">Admin Code: /optional</label>
        </div>
        <button type="submit">Register</button>