<html>
    <h1>Database</h1>
    <form method="POST" action="/searchResults">
        <input type="text" name="topic" id="topic">
        <button type="submit">Search</button>
        <div id="resultsContainer"></div>
    </form>
    <% posts.forEach((post) => { %>
        <div class="results">
        <form method="POST" action="specificResults">
            <input type="hidden" name="postTitle" value="<%=post.featuredColumnTitle%>">
            <button><%=post.featuredColumnTitle%></button>
        </form>
        <p>Creater: <%=post.username%></p>
        </div>
    <% }) %>
</html>