<html>
    <head>
        <title>Database</title>
        <style>
            .part1 {
                    background: url('homescreen.jpg') no-repeat;
                    border: none;
                    background-position: center center;
                    position: relative;
                    background-size: cover;
                    background-attachment: scroll;
                    margin: 0;
                    padding-bottom: 120px;
                }

                .part2 {
                    background: url('homescreen1.jpg') no-repeat;
                    border: none;
                    position: relative;
                    background-position: center center;
                    background-size: cover;
                    background-attachment: scroll;
                    margin: 0;
                    padding: 0;
                }
                #searchBar {
                background-color: #fffffa;
                width: 80%;
                margin: 0 auto;
                border-radius: 50px;
                overflow: hidden;
                height: 5%;
                position: relative;
                }

                .searchContainer {
                display: flex;
                align-items: center;
                padding: 10px;
                border: 2px;
                }

                #topic {
                position: relative;
                flex: 1;
                border: none;
                font-size: 26px;
                outline: none;
                background-color: transparent;
                color: black;
                top: 8px;
                left: 25px;
                }

                .searchBtn {
                position: relative;
                background-color: transparent;
                border: none;
                font-size: 34px;
                cursor: pointer;
                outline: none;
                top: 7px;
                right: 45px;
                }
                .searchtitle{
                    position: relative;
                    left: 20px;
                    text-align: left;
                    font-weight: 530;
                }
                p{
                    color: white;
                }
                #greenBox{
                    border: black 1px;
                    background-color: #506d4e;
                    padding: 20px 10px;;
                    width: 96%;
                    left: 1%;
                    position: relative;
                    left: 20px

                }

                #littleLessGreenBox{
                    border: black 1px;
                    background-color: #accaa9;
                    padding: 20px 10px;
                    width: 96%;
                    position: relative;
                    left: 20px;
                    height: 700px;
                }


        </style>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <div class="part1">
        <h1>Database</h1>
        <div id="greenBox">
        <div id="searchBar">
            <form method="POST" action="/searchResults">
                <div class="searchContainer">
                    <input type="text" name="topic" id="topic" placeholder="Search...">
                    <button class="searchBtn" type="submit"><ion-icon name="search-outline"></ion-icon></button>
                </div>
                <div id="resultsContainer"></div>
            </form>
        </div>
        </div>
        <div id="littleLessGreenBox">
        <% posts.forEach((post) => { %>
            <div class="results">
            <form method="POST" action="specificResults">
                <input type="hidden" name="postTitle" value="<%=post.featuredColumnTitle%>">
                <button><%=post.featuredColumnTitle%></button>
            </form>
            <p>Creater: <%=post.username%></p>
            </div>
        <% }) %>
        </div>
    </div>
</html>