<html>
    <head>
        <title>Database</title>
        <style>
            @import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            body, h1, p {
                font-family: 'poppins',sans-serif;
                color: #ffffff;
                overflow-x: hidden;
                margin: 0;
                padding: 0;
            }
            body{
                background: url('homescreen.jpg')no-repeat;
                background-position: top;
                background-size: cover;
                background-attachment: fixed;
            }
            #topbar{
                display: inline-block;
                display: flex;
            }
            .links{
                display: flex;
                position: absolute;
                top: 35px;
                right: 40px;
                padding: 8px;
                background-color: #e2e8d1;
                border: 2px solid transparent;
                border-radius: 10px;
            }
            h1{
                text-align: center;
            }
            .hline{
                height: 0.3rem;
                position: relative;
                top: 40px;
                background-color: white;
            }
            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 10px;
                margin: 0;
            }
            .title{
                position: relative;
                left: 40px;
                top: 30px;
                padding-right: 60px;
                font-size: 44px;
                font-weight: 550;
            }
            .linkBarLink{
                color: #7a9a6d;
                font-size: 20px;
                text-decoration: none;
            }
            #searchBar {
            background-color: #fffffa;
            width: 80%;
            margin: 0 auto;
            border-radius: 6rem;
            overflow: hidden;
            }

            .searchContainer {
            display: flex;
            align-items: center;
            padding: 0.2rem;
            }

            #topic {
            position: relative;
            flex: 1;
            border: none;
            font-size: 26px;
            outline: none;
            background-color: transparent;
            color: black;
            top:8px;
            left: 25px;
            }

            .searchBtn {
            position: relative;
            background-color: transparent;
            border: none;
            font-size: 34px;
            cursor: pointer;
            outline: none;
            top: 7px;
            right: 45px;
            }
            
                #greenBox{
                    border: black 1px;
                    background-color: #516d4e;
                    padding: 20px 10px;;
                    width: 96%;
                    left: 1%;
                    position: relative;
                    left: 20px;
                }

                #littleLessGreenBox{
                    border: black 1px;
                    background-color: #e0e8d5;
                    padding: 40px 20px;
                    width: 96%;
                    position: relative;
                    left: 20px;
                    height: 100%;
                }
                .part1{
                    position: relative;
                    top: 3.5rem;
                }
                .results{
                    background-color: white;
                    margin-top: 8px;
                    padding: 20px;

                    height: 4.3em;
                }
                .buttonForLinks{
                    text-align: left;
                    padding-right: 120em;
                    padding-bottom: 4em;
                }
                .creatorP{
                    position: relative;
                    bottom: 2.5em;
                    left: 0.5em;
                    color: black;
                    pointer-events: none;
                }
                .titleP{
                    color: black;
                    position: relative;
                    bottom: 6em;
                    left: 0.5em;
                    pointer-events: none;
                }
        </style>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="topBar">
                <h1 class="title">BIPH FLORA</h1>
                <div class="links">
                    <a class="linkBarLink" href="homescreen">Home</a>
                    <a class="linkBarLink" href="searchResults">Database</a>
                    <a class="linkBarLink" href="creation">Creation</a>
                    <a class="linkBarLink" href="activities">Activities</a>
                    <a class="linkBarLink" href="journey">Journey</a>
                    <a class="linkBarLink" href="aboutUs">About us</a>
                    <% if (username) { %>
                        <% if (admin == true) { %>
                            <a class=linkBarLink href="admin">Admin</a>
                        <% } else { %>
                            <p class="linkBarLink1"> Login Successful</p>
                        <%}%>
                   <% } else { %>
                    <a class="linkBarLink" href="login">Registration</a>
                    <%}%>
                </div>
            </div>
        </header>
        <div class="hline">
            <hr>
        </div>
        <div class="part1">
            <div id="greenBox">
            <div id="searchBar">
                <form method="POST" action="/searchResults">
                    <div class="searchContainer">
                        <input type="text" name="topic" id="topic" placeholder="Search...">
                        <button class="searchBtn" type="submit"><ion-icon name="search-outline"></ion-icon></button>
                    </div>
                    <div id="resultsContainer"></div>
                </form>
            </div>
            </div>
            <div id="littleLessGreenBox">
                <% posts.forEach((post) => { %>
                    <div class="results">
                        <form method="POST" action="specificResults">
                            <input type="hidden" name="postTitle" value="<%=post.featuredColumnTitle%>">
                            <button class="buttonForLinks"></button>
                        </form>
                        <p class="creatorP">Creater: <%=post.username%></p>
                        <p class="titleP">Title: <%=post.featuredColumnTitle%></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>