@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
  }
body {
    
    background: url('intro.jpg')no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color: #358597
}
header {
    background-color: rgba(51, 51, 51, 0.2);
    padding: 20px;
    color: #F4A896;
}
nav {
    background-color: rgba(160, 160, 160, 0.2);
    padding: 10px;
    color: #F4A896;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:#F4A896;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    color:#F4A896;
}
.channel{
    color:#F4A896;
    font-size: 20px;
}
section{
    background-color: rgba(120, 120, 120, 0.2);
    padding: 20px;
    text-align: left;
    color: #F4A896;
}
footer{
    background-color: rgba(51, 51, 51, 0.2);
    padding: 20px;
    color: #F4A896;
    text-align: center;
}
.sm a{
    display: inline-flex;
    text-decoration: none;
    font-size: 36px;
    width: 60px;
    height: 60px;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 7px;
  }
  .sm a::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    z-index: -1;
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1)::before{
    background: #38529a;
  }
  .sm a:nth-child(2)::before{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  }
  .sm a:nth-child(3)::before{
    background: #1c96e9;
  }
  .sm a:nth-child(4)::before{
    background: #f70000;
  }
  .sm a:nth-child(5)::before{
    background: #046596;
  }
  .sm a:hover::before{
    transform: scale(0);
  }
  .sm a i{
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1):hover i{
    background: #38529a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(2):hover i{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(3):hover i{
    background: #1c96e9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(4):hover i{
    background: #f70000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(5):hover i{
    background: #046596;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    transform: scale(1.5);
  }
  p{
    color:#F4A896;
    text-align: left;
  }
  h2{
    text-align: center;
    color:#358597;
  }
  .index {
    display: flex;
    align-items: center;
  }

  .index .icon-container {
    margin-right: 10px;
  }

  .channels {
    display: flex;
    align-items: center;
  }

  .gradient-text {
    background: linear-gradient(to right, #F4A896, #04a2f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* For Firefox */
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }


  .channel {
    margin-right: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-text-stroke: 0.5px goldenrod; /* For Chrome, Safari, and Opera */
    text-stroke: 0.5px goldenrod; /* For other browsers */
  }

  .channel:hover {
    background-color: rgba(300, 300, 300, 0.2);
    color: #fff;
  }

  .channel:active {
    animation: click-effect 0.3s ease-in-out;
  }

  @keyframes click-effect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .webicon {
    font-size: 2rem;
    margin-right: 15px;
    font-weight: bold;
    list-style: none;
    -webkit-text-stroke: 0.5px goldenrod; /* For Chrome, Safari, and Opera */
    text-stroke: 0.5px goldenrod; /* For other browsers */
  }
  .container {
    display: flex;
    justify-content: center;
}

.block {
    width: 200px;
    height: 150px;
    margin: 10px;
}
.icon{
  display: inline-block;
  border: 2px solid #358597;
  border-radius: 10px;
  padding: 7px;
  background-color: #358597;
}